<!--
 * @Author: baobaobao
 * @Date: 2023-06-21 16:05:15
 * @LastEditTime: 2023-06-21 16:26:33
 * @LastEditors: baobaobao
-->
<%- partial('_partial/head') %>
<body>
  <div id="container" q-class="show:isCtnShow">
    <a href="https://github.com/wangdabaoqq" id="github_image">
      <img style="position: fixed; top: 0; left: 0; border: 0; z-index: 9999;" src="https://raw.githubusercontent.com/wangdabaoqq/imgPicGo/master/github.png"></a>
    <canvas id="anm-canvas" class="anm-canvas"></canvas>
    <div class="left-col" q-class="show:isShow">
      <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col" q-class="show:isShow,hide:isShow|isFalse">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div id="wrapper" class="body-wrap">
        <div class="menu-l">
          <div class="canvas-wrap">
            <canvas data-colors="#eaeaea" data-sectionHeight="100" data-contentId="js-content" id="myCanvas1" class="anm-canvas"></canvas>
          </div>
          <div id="js-content" class="content-ll">
            <%- body %>
          </div>
        </div>
      </div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/tools') %>
    <%- partial('_partial/viewer') %>
  </div>
</body>
</html>
